.news-list{
	position: relative;
	height:100%;
	width:100%;
	overflow-y: auto;
	border:  1px solid #e8e8e8;
	padding: 0px 12px;
	
}

.list-item{
	width:100%;
	border-bottom: 1px solid #e8e8e8;
	padding: 12px;
	display: flex;
	align-items: center;
	&:last-child{
		border-bottom: none;
	}
	.list-item-content{
		flex: 1 1 auto;
		h4{
			a{
				color: #434343;
				font-size: 16px;
			}
		}
	}
	.list-item-action{
		flex: 0 0 90px;
		list-style: none;
	}
}